<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h1>Hit API to convert string date to unix and utc formats</h1>
    </div>
    <div class="footer">
      <p>By Manideep</p>
    </div>
  </body>
</html>
